{% extends "layout_dashboard.html" %}


{% block content %}
<div class="col-md-6">
    <!-- general form elements disabled -->
    <div class="card card-primary">
      <div class="card-header">
        <!-- When admin, should be update ticket -->
        <h3 class="card-title">Submit a ticket</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <form role="form" method="POST" action="">
        {{ form.hidden_tag() }}
          <div class="row">
            <div class="col-12">
              <!-- text input -->
              <div class="form-group">
                <label>Ticket Title</label>
                {{ form.title(class="form-control", placeholder="Enter...")}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <!-- textarea -->
              <div class="form-group">
                <label>Description</label>
                {{ form.content(class="form-control", placeholder="Describe in as many words as possible what's wrong and how did it happened") }}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
                <div class="form-group">
                <label>Select Severity Level</label>
                {{form.severity(class="form-control")}}
                </div>
            </div>
            </div>
            {% if current_user.access=="admin" %}
            <div class="row">
              <div class="col-6">
                  <div class="form-group">
                  <label>Change Ticket State</label>
                    {{form.state(class="form-control")}}
                  </div>
              </div>
            </div>
              {% endif %}
            <div class="m-t-20">
                {{ form.submit(class="btn btn-primary", placeholder="Submit") }}
            </div>
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
{% endblock content %}