{% extends "layout_dashboard.html" %}


{% block nav_links %}
<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    <!-- Add icons to the links using the .nav-icon class
         with font-awesome or any other icon font library -->
      <li class="nav-item mb-3">
          <a href="{{ url_for('create_ticket') }}" class="nav-link">
              <i class="nav-icon fas fa-plus"></i>
              <p>
              Create New Ticket
              </p>
          </a>
      </li>
      <li class="nav-item">
          <a href="{{ url_for('home') }}" class="nav-link active">
              <i class="nav-icon fas fa-clipboard-list"></i>
              <p>
              Tickets
              </p>
          </a>
      </li>
      <li class="nav-item">
          <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
              Diagrams
              </p>
          </a>
      </li>
      {% if current_user.access=="admin" %}
      <li class="nav-item">
        <a href="{{ url_for('register_admin')}}" class="nav-link">
            <i class="nav-icon fas fa-user-plus"></i>
            <p>
            Create Admin Account
            </p>
        </a>
    </li>
    {% endif%}
      <li class="nav-item">
          <a href="{{ url_for('account')}}" class="nav-link">
              <i class="nav-icon fas fa-user-cog"></i>
              <p>
              Settings
              </p>
          </a>
      </li>
      <li class="nav-item">
          <a href="{{url_for('logout')}}" class="nav-link">
              <i class="nav-icon fas fa-sign-out-alt"></i>
              <p>
              Logout
              </p>
          </a>
      </li>
  </ul>
{% endblock nav_links %}

{% block content %}
<div class="row">
<div class="col-12">
<div class="card ">
    <div class="card-header">
        <h2 class="card-title">Submitted Tickets</h2>
        
        <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
            <li class="page-item"><a class="page-link" href="{{ url_for('home', page=1) }}">«</a></li>
            {% for page_num in tickets.iter_pages(left_edge=1, right_edge=1, left_current=5, right_current=5) %}
                {% if page_num %}
                    {% if tickets.page == page_num %}
                    <li class="page-item active"><a class="page-link" href="{{ url_for('home', page=page_num) }}">{{page_num}}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ url_for('home', page=page_num) }}">{{page_num}}</a></li>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
            <li class="page-item"><a class="page-link" href="{{ url_for('home', page=tickets.pages) }}">»</a></li>
            </ul>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <table class="table">
        <thead>
          <tr>              
            <th>Title</th>
            <th>User</th>
            <th>Date Submitted</th>
            <th>Finish Date</th>
            <th>Ticket State</th>
            <th>Ticket Severity</th>
          </tr>
        </thead>
        <tbody>
            {% for ticket in tickets.items %}
                {% if current_user.access=="admin" or current_user.id==ticket.author.id%}
                    <tr id="ticket-row-{{loop.index}}">
                        <td data-toggle="collapse" href="#colapse-content-{{loop.index}}" role="button" aria-expanded="false" aria-controls="colapse-content-{{loop.index}}">
                            <div class="ticket-title">
                                {{ticket.title}}
                            </div>
                        </td>
                        <td>{{"You" if ticket.author.id==current_user.id else ticket.author.name}}</td>
                        <td>{{ticket.date_posted.strftime('%Y-%m-%d')}}</td>
                        {% if ticket.date_finished %}
                            <td>{{ticket.date_finished.strftime('%Y-%m-%d')}}</td>
                        {% else %}
                            <td>Unknown</td>
                        {% endif %}
                        <td>
                            <span class="badge bg-{{state[ticket.state]}}">{{ticket.state}}</span>
                        </td>
                        <td>
                            <span class="badge bg-{{severity[ticket.severity]}}">{{ticket.severity}}</span>
                        </td>
                        {% if current_user.access=="admin" %}
                        <td class="admin-ticket-settings">
                            <a href="{{url_for('ticket', ticket_id=ticket.id)}}"><i class="fas fa-ellipsis-h"></i></a>
                        </td>
                        {% endif %}
                    </tr>
                    <tr class="collapsed-desc">
                        <td colspan="100%" class="collapse" id="colapse-content-{{loop.index}}">
                            <div class="">
                                <div class="user-panel mt-3 pb-3 d-flex">
                                    <div class="image">
                                    <img src="{{ url_for('static', filename='profile_pics/' + ticket.author.image_file) }}" class="img-circle elevation-2" alt="User Image">
                                    </div>
                                    <div class="info">
                                    <a href="#" class="d-block">{{ticket.author.name}}</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <p class="text-break">
                                        {{ticket.content}}
                                    </p>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% else %}
                
                {% endif %}
            {% endfor %}
        </tbody>
      </table>
    </div>
</div>
</div>
</div>

{% endblock content %}