{% extends "layout_dashboard.html" %}


{% block content %}
<div class="col-md-6">
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Ticket</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div class="user-panel mt-3 pb-3 d-flex">
            <div class="image">
            <img src="{{ url_for('static', filename='profile_pics/' + ticket.author.image_file) }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
            <a href="#" class="d-block">{{ticket.author.name}}</a>
            <small>{{ticket.date_posted.strftime('%H:%M %d-%m-%Y')}}</small>
            </div>
        </div>
        <div class="ml-3">
            <span class="badge bg-{{state[ticket.state]}}">{{ticket.state}}</span>
            <span class="badge bg-{{severity[ticket.severity]}}">{{ticket.severity}}</span>
        </div>
        <div class="ml-3 mt-5">
            <h2 class="">{{ ticket.title }}</h2>
            <p class="text-muted">{{ ticket.content }}</p>
        </div>
        <hr>
        <div class="m-3">
            <a class="btn btn-primary mt-1 mb-1" href="{{ url_for('update_ticket', ticket_id=ticket.id) }}">Update</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
    </div>
    <!-- /.card -->
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Ticket?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_ticket', ticket_id=ticket.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Ticket?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_ticket', ticket_id=ticket.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}